.container {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 175vh;
  height: 10vh;
  border-radius: 36px;
  background: var(--Secondary, #f6f8ff);
  margin-top: 2vh;
  p {
    margin-top: 23px;
    color: var(--Secondary, #272d2d);
    font-family: Gabarito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.buttonNav {
  position: relative;
  left: -20px;
  border-radius: 12px;
  background: var(--Primary, #a846a0);
  color: var(--Secondary, #f6f8ff);
  width: 180px;
  height: 40px;
  font-size: 24px;
  margin-top: 14px;
  border-color: #a846a0;
}

.logo {
  margin-top: 19px;
  margin-left: 20px;
}
